@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');  
body {
    background-color: hsl(212, 45%, 89%);
    margin-top: 20%;
}
.conteiner {
    font-family: 'Outfit', sans-serif;
    border-radius: 5%;
    width: 268px;
    height: 450px;
    margin: auto;
    background-color: white;
    padding: 20px;
}
.image_qr img{
    border-radius: 5%;
    width: 100%;
}
#tittle {
    font-size: 23px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
p {
    font-size: 15px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}
@media (min-width: 500px) {
 body {
    margin: 12% auto;
 }
 .conteiner {
   
    padding: 15px;
 }
 #tittle {
    margin-left: 4%;
    margin-right: 4%;
    font-weight: bold;
 }
 p {
    margin-left: 4%;
    margin-right: 4%;
    font-weight: bold;
 }
}